[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-heroku = "*"
gunicorn = "*"
django-cors-headers = "*"
djangorestframework = "*"
pytz = "*"
whitenoise = "*"
Django = "*"
django-filter = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
